<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ORISIS</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav"  mode="side" position="end">
    <mat-list>
      <mat-list-item>
        <button mat-raised-button color="accent" aria-label="Pic" (click)="bool =!bool " [innerText]="'Picture Collected'"></button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="accent" aria-label="CSV" (click)="bool =!bool" [innerText]="'Data Collected'"></button>
      </mat-list-item>
    </mat-list>
   </mat-drawer>

  <div class="sidenav-content">
    <ng-container *ngIf="bool">
      <app-picture-view></app-picture-view>
    </ng-container>
    <ng-container *ngIf="!bool">
      <app-csv-view></app-csv-view>
    </ng-container>
  </div>

</mat-drawer-container>

